@import "tailwindcss";

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
}

@theme {
  
  --spacing: 4px;
  --font-display: "Inter", system-ui, sans-serif;
  --color-mint-500: oklch(0.72 0.11 178);
  --color-mint-400: oklch(0.72 0.11 178 / 0.8);
  --color-dusk: oklch(0.82 0.15 72.09);
  --color-gray-400: oklch(0.704 0.04 256.788);
  --color-gray-50: oklch(0.984 0.003 247.858);
  --color-gray-100: oklch(0.968 0.007 247.896);
  --color-neutral-100: oklch(0.97 0 0);
  --text-2xl: 2.25rem;
  --text-xl: 1.875rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

